{
    "agent":{
        "email": "<write your agent email>",
        "password": "<write your agent password>"
    },

    "manager": {
        "email": "<not to fill>",
        "password":"<not to fill>"
    },

    "clean": {
        "url": "<not to fill>",
        "password": "<not to fill>"
    },
    
    "CI": false
}
